<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.debug.core.groups.GroupLaunchConfigurationType">
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.action" value="DELAY"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.actionParam" value="5"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.mode" value="run"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.name" value="01-DiscoveryServerApplication"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.adoptIfRunning" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.action" value="NONE"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.actionParam" value=""/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.mode" value="run"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.name" value="02-AdminServerApplication"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.adoptIfRunning" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.action" value="NONE"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.actionParam" value=""/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.mode" value="run"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.name" value="03-AuthServiceApplication"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.2.adoptIfRunning" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.action" value="NONE"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.actionParam" value=""/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.mode" value="run"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.name" value="04-UserServiceApplication"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.3.adoptIfRunning" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.action" value="NONE"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.actionParam" value=""/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.mode" value="run"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.name" value="05-JobServiceApplication"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.4.adoptIfRunning" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.action" value="NONE"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.actionParam" value=""/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.mode" value="run"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.name" value="06-ApplicationServiceApplication"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.5.adoptIfRunning" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.action" value="NONE"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.actionParam" value=""/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.mode" value="run"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.name" value="07-InterviewServiceApplication"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.6.adoptIfRunning" value="true"/>
</launchConfiguration>
